<% pages = {
    home: "/",
		blog: "/blog",
    about: "/about",
  } %>
<div class="flex gap-x-4 items-center mb-8">
  <% pages.each do |name, path|%>
    <%= link_to name, path %>
  <% end%>
</div>
