---
title: Welcome!
---
<div class="mt-24 flex flex-col space-y-6">
  <h1 class="text-5xl font-bold">
    Welcome to the Ruby + Middleman + TailwindCSS Starter Blog.
  </h1>
  <p>Welcome to this little starter blog kit I've put together. I've used Middleman for years to build my <a href="https://harrisonbroadbent.com/stack" target="_blank">personal site</a> and I've always loved it's simplicity.</p>
  <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
</div>
