---
title: Welcome!
description: Welcome to the Ruby, Middleman and TailwindCSS starter blog template. It's setup and configured for easy blogging with markdown files and code blocks, making it perfect for a personal site or blog.
---
<div class="flex flex-col space-y-6 text-base">
  <h1 class="text-stone-900 text-7xl font-bold tracking-tighter">
    Welcome to the Ruby, Middleman & TailwindCSS Starter Blog.
  </h1>
  <p>Welcome! I love how simple Middleman is — I've used it for years to build my <a href="https://harrisonbroadbent.com/stack" target="_blank">personal site</a>, and I finally decided to pull together everything I've learned into a template. I encourage you to poke around the <a href="/blog">blog</a> and <a href="/about">about</a> pages to see what you can do with this template!</p>
  <p>This template is setup and configured with the following:</p>
  <ul class="list-disc ml-6">
    <li><a href="https://middlemanapp.com/">Middleman</a>,</li>
    <li><a href="https://tailwindcss.com/">TailwindCSS</a>,</li>
    <li>Blog support via <a href="https://middlemanapp.com/basics/blogging/">middleman-blog</a> (<a href="/blog">example</a>)</li>
    <li>Markdown processing via <a href="https://kramdown.gettalong.org/quickref.html">kramdown</a></li>
    <li>Code highlighting via <a href="https://github.com/middleman/middleman-syntax">middleman-syntax</a> and <a href="https://github.com/rouge-ruby/rouge">Rouge</a> (<a href="/blog/blog-post-with-code">example</a>)</li>
    <li>Live reloading when developing via <a href="https://github.com/middleman/middleman-livereload">middleman-livereload</a></li>
  </ul>
  <p>Learn more about this templates's features by reading the <a href="/blog">blog</a>.</p>
  <p>
    You might also like to <%= link_to(
                                "read the Middleman Docs",
                                "https://middlemanapp.com/basics/templating_language/",
                                target: "_blank",
                              ) %>
  </p>
</div>
